* {
    margin: 0;
    padding: 0;
    border: none;

    --color0: #FFFFFF;
    --color1: #D9D9D9;
    --color2: #8A898A;
    --color3: #C71F25;
    --color4: #4785EB;
    --color5: #27AE60;
}

body {
    background-color: var(--color1);
}

#sideBar {
    
    position: fixed;
    background-color: var(--color3);
    min-width: 160px;
    width: 16%;
    height: 100vh;
    position: fixed;
    box-shadow: 1px 0px 10px #00000055;

}

#logoSideBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0 20px 0;
}


#sideBar a {
    text-decoration: none;
    color: var(--color0);
}

#sideBar a:hover
,   #sideBar li:hover a
,   #sideBar li a:hover {
    text-decoration: none;
    color: var(--color3) !important;
}

#sideBar ul li {
    padding: 10px 0;
    height: 20px;
    text-align: left;
    padding-left: 30px;
    color: var(--color0);
}


#sideBar ul li:hover {
    background: var(--color0);
    color: var(--color3);
    font-weight: 500;
}


/*CONTENT*/
#content {
    display: fixed;
    margin: 10px 5px 2px 17%;
    position: absolute;
    background: var(--color0);
    padding: 20px;
    border-radius: 6px;
    min-width: 790px;
    width: 70%;
}

div#content_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/***CARDS***/
table#cards {
    margin-top: 20px;
    width: 100%;
}

#cards tbody,
#cards thead {
    height: 20px;
}

#card-titles th {
    border-bottom: solid 1px #d9d9d9;
}

#cards tr:nth-child(even) {
    background-color: rgba(217, 217, 217, 0.578);
}

tr#card-titles {
    text-align: left;
    font-size: 1.2rem;
    font-family: roboto;
}

.tdSal {
    text-align: right;
}